
<div class="space-y-12">
  <div class="border-b border-white/10 pb-12">
    <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
      <div class="sm:col-span-4">
        <%= form.label :title_alternative %>
        <div class="mt-2">
          <%= form.text_field :title_alternative %>
        </div>
      </div>

      <div class="sm:col-span-4">
        <%= form.label :description %>
        <div class="mt-2">
          <%= form.text_field :description %>
        </div>
      </div>

      <div class="sm:col-span-4">
        <%= form.label :format %>
        <div class="mt-2">
          <%= form.text_field :format %>
        </div>
      </div>

      <div class="sm:col-span-4">
        <%= form.label :language %>
        <div class="mt-2">
          <%= form.text_field :language %>
        </div>
      </div>

      <div class="sm:col-span-4">
        <%= form.label :creator %>
        <div class="mt-2">
          <%= form.text_field :creator %>
        </div>
      </div>

      <div class="sm:col-span-4">
        <%= form.label :contributor %>
        <div class="mt-2">
          <%= form.text_field :contributor %>
        </div>
      </div>

      <div class="sm:col-span-4">
        <%= form.label :publisher %>
        <div class="mt-2">
          <%= form.text_field :publisher %>
        </div>
      </div>

      <div class="sm:col-span-4">
        <%= form.label :rights %>
        <div class="mt-2">
          <%= form.text_field :rights %>
        </div>
      </div>

      <div class="sm:col-span-4">
        <%= form.label :source %>
        <div class="mt-2">
          <%= form.text_field :source %>
        </div>
      </div>
    </div>
  </div>
</div>
