<div class="grid max-w-7xl grid-cols-1 gap-x-8 gap-y-10 px-4 py-16 sm:px-6 md:grid-cols-3 lg:px-8">
  <div>
    <h2 class="text-base font-semibold leading-7 text-white">General Settings</h2>
    <p class="mt-1 text-sm leading-6 text-gray-400">Metadata describing the checklist.</p>
  </div>

  <div class="md:col-span-2">
    <div class="grid grid-cols-1 gap-x-6 gap-y-8 sm:max-w-xl sm:grid-cols-6">
      <div class="col-span-full">
        <%= form.label :title %>
        <div class="mt-2">
          <%= form.text_field :title %>
        </div>
      </div>

      <div class="col-span-full">
        <%= form.label :type %>
        <div class="mt-2">
          <%= form.select :type, options_for_checklist_type_select %>
        </div>
      </div>

      <div class="col-span-full">
        <%= form.label :instance_model_name %>
        <div class="mt-2">
          <%= form.text_field :instance_model_name %>
        </div>
      </div>

      <div class="col-span-full">
        <%= form.label :description %>
        <div class="mt-2">
          <%= form.text_field :description %>
        </div>
      </div>

      <div class="col-span-full">
        <%= form.label :author_name %>
        <div class="mt-2">
          <%= form.text_field :author_name %>
        </div>
      </div>

      <div class="col-span-full">
        <%= form.label :license %>
        <div class="mt-2">
          <%= form.text_field :license %>
        </div>
      </div>
    </div>
  </div>
</div>
