<% content_for :breadcrumb_controls do %>
  <div class="flex">
    <%- if checklist.container.is_a?(Workspace) %>
      <%= link_to 'Grid', url_for(view: 'grid'), class: "block rounded-md bg-grey-500 px-3 py-2 text-center text-sm font-semibold text-grey-500 dark:text-white hover:bg-grey-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-grey-500 mr-2" %>
      <%= link_to 'List', url_for(view: 'list'), class: "block rounded-md bg-grey-500 px-3 py-2 text-center text-sm font-semibold text-grey-500 dark:text-white hover:bg-grey-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-grey-500 mr-2" %>
      <%= link_to "New #{checklist.instance_model_name.titleize.singularize}", new_checklist_instance_path(checklist.becomes(Checklist)), class: "block rounded-md bg-yellow-500 px-3 py-2 text-center text-sm font-semibold text-white hover:bg-yellow-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-yellow-500 mr-2" %>
    <%- else %>
      <p>Controls for library checklists</p>
    <%- end %>
  </div>
<% end %>

<%= render partial: 'layouts/shared/breadcrumbs' %>

<%- case @view %>
<%- when :grid %>
  <%= render partial: 'checklists/show/concurrent/grid', locals: { checklist: @checklist } %>
<%- when :list %>
  <%= render partial: 'checklists/show/concurrent/list', locals: { checklist: @checklist } %>
<%- else %>
  <p>UNKNOWN VIEW: <%= @view %></p>
<%- end %>

