<%= render partial: 'layouts/shared/breadcrumbs' %>

<div class="flex px-4 py-8 sm:px-6 ">
  <div
    data-controller="checklist"
    data-checklist-target="previewPanel"
    data-checklist-instance-id-value="<%= @checklist_instance.id %>"
    data-checklist-data-entry-comments-value="<%= @checklist_instance.data_entry_comments %>"
  >
    <div class="checklist-preview">
      <%= render_checklist(@checklist_instance) %>
    </div>
    <%= render partial: 'checklist_instances/comments_modal', locals: { checklist_instance: @checklist_instance } %>
  </div>
</div>
